header {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  height: $header-height;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: $shadow-1;
  z-index: 100;

  a.brand-logo {
    color: black;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none !important;
  }

  button.sidebar-button {
    background: none;
    visibility: hidden;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 100ms;
    color: black;

    &:hover {
      background-color: hsl(0, 0%, 90%);
    }

    &:active {
      background-color: hsl(0, 0%, 80%);
      transform: scale(1.05);
    }

    @include mobile-lg {
      visibility: visible;
    }
  }
}