.sidebar {
  h2 {
    margin: 1rem;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: rgba(0,0,0,.9);
  }

  .list-wrapper {
    flex-grow: 1;
    overflow-y: auto;

    .no-user {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: rgba(0,0,0,.5);

      h3 {
        margin-top: 2rem;
      }
    }

    ul {
      overflow-y: auto;
      list-style-type: none;
      padding: 0;
      margin: 0;
      
      li.user {
        cursor: pointer;
        padding: 1rem;
        border-top: 1px solid rgba(0,0,0,.15);
        transition: background linear 150ms;
        display: flex;
        justify-content: space-between;

        &:last-child {
          border-bottom: 1px solid rgba(0,0,0,.15);
        }

        &:hover {
          background-color: rgba(0,0,0,.08);
        }

        .username { flex-grow: 1; }
        .id { color: rgba(0,0,0,0.25); }

        .selected {
          font-weight: bold;
        }
      }
    }
  }

  button.disconnect {
    background: transparent;
    border: none;
    color: #dc3545;
    padding: 1rem;
    transition: background linear 150ms;
    border-radius: 0;

    &:hover {
      background-color: hsl(355, 51%, 90%);
    }

    &:active {
      background-color: hsl(354, 37%, 77%);
    }

    @include mobile {
      margin-bottom: 50px;
    }
  }

  footer {
    padding: .2rem .5rem;
    border-top: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      position: fixed;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
    }

    .status-indicator {
      border-radius: 10px;
      width: 13px;
      height: 13px;
      margin: 0 .5rem;
      background-color: hsl(120, 50%, 55%);

      &.loading {
        background-color: orange;
      }
    }

    button {
      background: transparent;
      border: none;
      width: 35px;
      height: 35px;
      border-radius: 25px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all linear 100ms;
      color: rgba(0,0,0,.5);

      &:hover {
        background-color: hsl(0, 0%, 90%);
        color: black;
      }

      &:active {
        background-color: hsl(0, 0%, 85%);
        color: black;
      }
    }
  }
}