.users-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  ul {
    flex-grow: 1;
    li.user {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      .selected {
        font-weight: bold;
      }
    }
  }

  footer {
    padding: .2rem .5rem;
    border-top: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .status-indicator {
      border-radius: 10px;
      width: 13px;
      height: 13px;
      margin: 0 .5rem;
      background-color: hsl(120, 50%, 55%);

      &.loading {
        background-color: orange;
      }
    }

    button {
      background: transparent;
      border: none;
      width: 35px;
      height: 35px;
      border-radius: 25px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all linear 100ms;
      color: rgba(0,0,0,.5);

      &:hover {
        background-color: hsl(0, 0%, 90%);
        color: black;
      }

      &:active {
        background-color: hsl(0, 0%, 85%);
        color: black;
      }
    }
  }
}