.users-list {
  padding: 1rem;

  li.user {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    .selected {
      font-weight: bold;
    }
  }

  .spinner-border {
    position: relative;
    top: 10px;
    left: 13px;
  }
}