.chat-view {
  // Handle long words and long sentences
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;

  // Add hyphens when breaking a word
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  padding: .5rem 1rem;
  display: flex;
  justify-content: end;
  flex-direction: column;

  li.connection {
    color: green;
  }

  li.disconnection {
    color: red;
  }
}