@import '~bootstrap/scss/bootstrap';

@import 'theme/main';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import 'components/app/app';
@import 'components/chat/chat';
@import 'components/chat-view/chat-view';
@import 'components/message-form/message-form';
@import 'components/users-list/users-list';
@import 'components/username-form/username-form';